<multiselect v-if="field.maxItemCount === 1"
 id="id"
 v-model="field.value"
 required="field.metadata.required"
 placeholder="Select item"
 :options="options"
 :searchable="true"
 :loading="isLoading"
 :close-on-select="true"
 :clear-on-select="false"
 label="label"
 track-by="label"
 @search-change="asyncFind">
</multiselect>
<multiselect v-else
 id="id"
 v-model="field.value.items"
 required="field.metadata.required"
 placeholder="Type to search"
 :options="options"
 :multiple="true"
 :searchable="true"
 :loading="isLoading"
 :close-on-select="true"
 label="label"
 track-by="value"
 @input="updateSelected"
 @search-change="asyncFind">
</multiselect>