<nav class="navbar navbar-default"
    v-bind:class="{'navbar-inverse' : inverted}">
    <div class="container-fluid">
        <input aria-controls="navbar-main"
            id="navbar-toggle-cbox"
            role="button"
            type="checkbox">

        <div class="navbar-header">
            <a href=""
                class="navbar-brand">UiMetadataFramework - Vue client</a>
            <label class="navbar-toggle collapsed"
                for="navbar-toggle-cbox">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </label>
        </div>

        <div class="navbar-collapse collapse"
            id="navbar-main">
            <ul class="nav navbar-nav">
                <navbaritem v-for="menu in menus"
                    :key="menu.id"
                    v-bind:menu="menu"
                    v-bind:class="{'active' : $route.path == menu.url}">
                </navbaritem>
            </ul>
        </div>
    </div>
</nav>